a {display: block; margin: 3px 0px;
    border: 1px solid #4C86C0; 
    padding: 14px 10px;
    text-align:center; 
    background-color: #336699;
    color: #EDEDED; 
    text-decoration: none;
    font-size: 25px;
}

ul {
    padding: 14px;

}

li {
    list-style: none;
    
}

li a:hover {
    display: block; margin: 3px 0px;
    border: 1px solid #22476C; 
    padding: 14px;
    text-align:center; 
    background-color: #22476C; 
    color: #EDEDED; 
    text-decoration: none;
}

.nav {
    border: 1px solid #22476C; 
    padding: 5px;
    text-align: middle; 
    background-color: #709cd1; 
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
   }

   .navi {
    position: absolute;
    border: 1px solid #22476C; 
    padding: 5px;
    background-color: #264b7c; 
    width: 500px;
    left: 50%;
    bottom: 90%;
    transform: translate(-50%, -50%);
}

   .judul {
    border : 1px solid white;
   }
h2 {
    color: white;
    
}


/* Home  */
.foto_1 img{
    width: 150px;
    height: 200px;
    overflow: hidden;
	border:5px solid #666;
	/* float: left; */
	margin-right: 10px;
	position:relative;
	text-decoration: none;
	list-style-type: none;
}

.container {
    position:absolute;
    width: 70%;
    left: 50%;
    top: 80%;
    background-color: #c2d9f0;
    transform: translate(-50%, -50%);
}

.desk {
    width: 80%;

    margin-left: 70px;
}

h3 {
    padding-left: 50px;
    text-align: left;
}

.isi {
    text-align: justify;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
  
    padding: 10px;
    margin: 0px 70px 0px 70px;
  }
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  #gmbr {
    width: 150px;
    height: 150px;
  }

  #gmbr2 {
    width: 140px;
    height: 140px;
    
  }

